<nav class="navbar navbar-light bg-light">
    <ul class="nav">
        <li>  <a class="navbar-brand" href="/">
            <img src="/images/chatbot.png" class="d-inline-block align-top" alt="">UBot 
            </a>
        </li>&nbsp&nbsp&nbsp 
    {{#if type.admin}}
        <li class="nav-item hvr-underline-from-center">
            <a class="nav-link " href="/products">Products</a>
        </li>
        <li class="nav-item hvr-underline-from-center">
            <a class="nav-link " href="/stores">Stores</a>
        </li>
        <li class="nav-item hvr-underline-from-center">
            <a class="nav-link " href="/addproducts">Add Product</a>
        </li>
        <li class="nav-item hvr-underline-from-center">
            <a class="nav-link " href="/productsRequests">Product Requests</a>
        </li>
        {{/if}}
    </ul>



    {{#if type}}

    <span>
              <a href="/signout"><button class="btn btn-default btn-lg">Logout</button></a>
          </span>

      {{else}}
          <span>
              <a href="/signin"><button class="btn btn-default btn-lg">Signin</button></a>
          </span>

      {{/if}}

    <button class="tog" onclick="tog()">&#9776;</button> {{#if type}}

  <button class="tog" onclick="tog()">&#9776;</button> {{#if isSession}}

  <div class="hid" id="na">
    <br>
    <div class="ah"><a href="/signout"><button href="/signout">Logout</button></a></div>
  </div>

  {{else}}

  <div class="hid" id="na">
    <br>
    <div class="ah"><a href="/signin"><button >Signin</button></a></div>
  </div>
  {{/if}}
  {{/if}}
</nav>
