
<style>
  .jumbotron{
    position: reative;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    height: 300px;
  }
  p {
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
      .jumbotron {
        width: 97%;
      }
  }
</style>
 <div class="jumbotron text-center" >
   <h1>Sorry !!!</h1>
   <p>Page that you are searching for isn't avialable...</p>
 </div>
