<style>
    .pvtAxisContainer {
        background-color: white;
    }
    
    .pvtUi {
        display: block;
        width: 100%;
        overflow: auto;
    }
</style>
<div id="options" style="margin-top: 50px">


<div id="output" style="margin-top: 30px; max-width:100%; overflow: scroll"><img src="./images/Unknown.gif"/> </div>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script src="./javascripts/pivot-logic.js"></script>

