<div class="container prodcontain">
 <div class="row">

  <div class="col-md-12">
   <table class="prodtable table table-list-search">
    <thead class="headrow">
     <tr>
      <div class="row">
       <th id="heading" colspan="2">Products Available</th>
       <!-- <td class="col-md-2"></td><td class="col-md-5"></td> -->
       <td align="right" class="col-md-5">
        <form action="#" method="get" class="sear">
         <div class="input-group">
          <input class="form-control" id="system-search" name="q" placeholder="Search for Product" required>
          <!-- <span class="input-group-btn">
											 <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
									 </span> -->
         </div>
        </form>
       </td>
      </div>
     </tr>
    </thead>
    <thead>
     <tr>
      <th>Id</th>
      <th>Product</th>
      <th>Price</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td>1</td>
      <td>Saop</td>
      <td>Reliance Mall</td>
     </tr>
     <tr>
      <td>2</td>
      <td>Chocolate</td>
      <td>Big Bazaar</td>
     </tr>

     {{#each data}}
     <tr>
      <td>{{this.pid}}</td>
      <td>{{this.pname}}</td>
      <td>{{this.price}}</td>
     </tr>
     {{/each}}
    </tbody>
   </table>
  </div>
 </div>
</div>