  <div class="box Absolute-Center is-Responsive">

    <form>
      <div class="signup">SignUp</div>

      <input class="input" type="text" placeholder="Full Name">
      <input class="input" type="text" placeholder="Email">
      <input class="input" type="password" placeholder="Password"> &nbsp&nbsp&nbsp&nbsp&nbsp


      <div class="for"><a href="signin.html">Already registered Signin here</a></div>
      <button class="btn1 reg">Register</button>
  </div>