  <div class="box Absolute-Center is-Responsive">

    <form id="registration_form" action="/register" method="POST">
      <div class="signup">SignUp</div>
        <input name="fname" id="" class="input" type="text" placeholder="First Name" required>
        <input name="lname" id="" class="input" type="text" placeholder="Last Name" required>
        <input name="uname" id="" class="input" type="text" placeholder="Username" required>
        <input name="pass" id="" class="input" type="password" placeholder="Password" required>
        <input name="address" id="" class="input" type="text" placeholder="Address" required>
        <input id="mob" name="mob" class="input" type="number" placeholder="Mobile No." required>
        &nbsp &nbsp&nbsp&nbsp
        <div class="for"><a href="/">Already registered Signin here</a></div>
        <button name="reg" class="btn1 reg">Register</button>
    </form>

  </div>
     