<div class="box Absolute-Center is-Responsive">
    <form class="form-horizontal" action="/signin" method="post">
        <div class="signup">Sign In</div>
        <input class="input" type="text" name="username" placeholder="Username">
        <input class="input" type="password" name="password" placeholder="Password">
        <div class="for" style="margin-top:20px;"> <a href="#">Forgot Password</a></div>
        <button class="btn1 reg">Login</button>
    </form>
</div>