

.unseen-side {
  background-color: #F8F9FA;
  height: 632px;
  width: 250px;
  position: absolute;
  top: 68px;
  overflow-y: auto;
}

.unseen-head {
  padding-left: 30px;
  height: 50px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #28AAE3;
}

.badge1 {
  background-color:#28AAE3;
  border-radius: 46%;
  width: 30px;
}

.unseen-side ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.unseen-side ul li {
  height: 60px;
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
}


.active {
  background-color: #EEEEEE;
}
.active a{
  color: black;
}
.active a:hover{
  color: black;
}
.unseen-side ul li a{
  display: block;
  text-decoration: none;
  padding-left: 50px;
  font-family: "Helvetica";
  font-size: 16px;
  color: black;
}

.chat_log_window {
  position: relative;
  top : 0;
  left : 251px;
  border-radius: 0;
  border: 0;
  background-color: #ffffff;
  height: calc(100% - 70px);
  width: calc(100% - 252px);
  border-radius: 10px;
}


.chat_name {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #EEEEEE;
  text-align: center;
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: 500;
  padding-top: 10px;
}


.chat_log {
  background-color: #F7F7F7;
  height: calc(100% - 120px);
  width: 100%;
  overflow-y: auto;
}

.answer {
  background-color: #F5F1EE;
  height: 60px;
  width: 100%;
}
.answer input {
  width: calc(100% - 180px);
  height: 39px;
  border: none;
  background-color: white;
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 10px;
  padding-left: 15px;
}
.answer input:focus {
  border: 2px solid #28AAE3;
}
.ans-btn {
  width: 110px;
  height: 40px;
  display: inline-block;
  border-radius: 50px;
  background-color: #9359c0;
  border: 2px solid #cfb5e3;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 20px;
  font-weight: 300;
  display: inline-block;
  padding-top: 3px;
}
.ans-btn:hover {
  color: #cfb5e3;
  background-color: #fff;
}


.alert {
  border : 2px solid red;
}
